<div class="aps-card aps-h-100p">
  <div class="aps-card-header p-px-3 aps-py-12">
    <div class="text-size-14 text-semi-bold">Product Wise Distribution</div>
  </div>
  <div class="aps-card-body gridster-item-content">
    <app-pie-chart
      [options]="productWiseDistributionOptions"
      [isDynamicHeight]="true"
      *ngIf="!productWiseDistributionDataLoading; else loadingDataTemplate"
    ></app-pie-chart>
  </div>
</div>

<ng-template #loadingDataTemplate>
  <p class="text-center p-py-3">Loading...</p>
</ng-template>
