<div class="container">
    <div *ngIf="stepperDetails.currentStep == 1">
        <form name="corporateMarginMaintenanceForm" #corporateMarginMaintenanceForm="ngForm">
            <div class="aps-card p-mb-3">
                <div class="aps-card-header p-p-1">
                    <div class="text-size-16 text-semi-bold p-p-2"> Margin Detail </div>
                </div>
                <div class="aps-card-body">
                    <div class="p-grid ">
                        <div class="p-col-12 p-md-3 p-lg-3 p-pb-0 p-py-0">
                            <aps-form-input id="corporateCode" label="Corporate Code" name="corporateCode"
                                rightIcon="fa-search" (onRightIcon)="isShowCorporateSearch = true"
                                [(ngModel)]="formData.corporateCode" disabled="true" required="true">
                            </aps-form-input>

                            <app-search-modal *ngIf="isShowCorporateSearch" [(isShow)]="isShowCorporateSearch"
                                header="Corporate Details" [colDefUrl]="corporateSearchColDefUrl"
                                [rowDefUrl]="corporateSearchRowDefUrl" (onSelection)="onCorporateCodeSelected($event)">
                            </app-search-modal>
                        </div>

                        <div class="p-col-12 p-md-3 p-lg-3 p-pb-0 p-py-0">
                            <aps-form-input id="corporateName" label="Corporate Name" name="corporateName"
                                [(ngModel)]="formData.corporateName" disabled="true" required="true">
                            </aps-form-input>
                        </div>

                        <div class="p-col-12 p-md-3 p-lg-3 p-pb-0 p-py-0">
                            <app-aps-calender id="effectiveFrom" name="effectiveFrom" label="Effective From"
                                [(ngModel)]="formData.effectiveFrom" [required]="true"></app-aps-calender>
                        </div>

                        <div class="p-col-12 p-md-3 p-lg-3 p-pb-0 p-py-0">
                            <app-aps-calender id="effectiveTill" name="effectiveTill" label="Effective Till"
                                [(ngModel)]="formData.effectiveTill"></app-aps-calender>
                        </div>
                    </div>

                </div>
            </div>

            <div class="aps-card p-mb-3">
                <div class="aps-card-header p-p-1">
                    <div class="text-size-16 text-semi-bold p-p-2"> Margin Slab Detail </div>
                </div>
                <div class="aps-card-body">
                    <ng-container *ngFor="let currencypair of formData.currencypair; let i = index">
                        <div class="p-grid ">
                            <div class="p-col-12 p-md-3 p-lg-3 p-pb-0 p-py-0">
                                <aps-custom-select [label]="'Currency 1' | apsTranslate" name="currency1" id="currency1"
                                    [(ngModel)]="formData.currency1" [data]="currencies" (change)="onCurrency1Change()">
                                </aps-custom-select>
                            </div>

                            <div class="p-col-12 p-md-3 p-lg-3 p-pb-0 p-py-0">
                                <aps-custom-select [label]="'Currency 2' | apsTranslate" name="currency2" id="currency2"
                                    [(ngModel)]="formData.currency2" [data]="currencies">
                                </aps-custom-select>
                            </div>
                        </div>



                        <div class="p-grid">

                            <div class="p-col-12 p-md-12 p-lg-12  p-px-3">
                                <div class="text-size-14 text-bold">
                                    Currency Pair
                                </div>
                            </div>
                            <div class="table-container p-pl-2">
                                <table class="table">
                                    <thead>
                                        <tr class="text-size-12 background-color-dark-5 text-color-dark-shade-1">
                                            <th class="p-p-2 text-left">Start Slab</th>
                                            <th class="p-p-2 text-left">End Slab</th>
                                            <th class="p-p-2 text-left">Rate Type Code</th>
                                            <th class="p-p-2 text-left">Rate</th>
                                            <th class="p-p-2 text-left">Margin</th>
                                            <th class="p-p-2 text-left">Exchange Rate</th>
                                            <th class="p-p-2 text-left">Actions</th>
                                        </tr>

                                        <ng-container *ngFor="let slab of formData.slab; let i = index">
                                            <tr class="text-size-12 text-color-normal border-bottom">

                                                <td class="p-p-2 text-size-14">
                                                    <aps-form-input inputType="normal" id="startSlab-{{ i }}"
                                                        name="-{{ i }}" [(ngModel)]="slab.startSlab"
                                                        [label]="'Start Slab' | apsTranslate">
                                                    </aps-form-input>
                                                </td>
                                                <td class="p-p-2">
                                                    <aps-form-input inputType="normal" id="endSlab-{{ i }}"
                                                        name="endSlab-{{ i }}" [(ngModel)]="slab.endSlab"
                                                        [label]="'End Slab' | apsTranslate">
                                                    </aps-form-input>
                                                </td>
                                                <td class="p-p-2">
                                                    <aps-custom-select [label]="'Rate Type Code' | apsTranslate"
                                                        [value]="rateTypeCode" name="rateTypeCode-{{ i }}"
                                                        id="rateTypeCode-{{ i }}" (change)="onRateTypeCodeChage($event)"
                                                        [(ngModel)]="slab.rateTypeCode" [data]="rateTypeCodeArr">
                                                    </aps-custom-select>
                                                </td>
                                                <td class="p-p-2">
                                                    <aps-form-input inputType="normal" id="rate-{{ i }}"
                                                        name="rate-{{ i }}" [disabled]="true"
                                                        [(ngModel)]="formData.rate" [label]="'Rate' | apsTranslate">
                                                    </aps-form-input>
                                                </td>
                                                <td class="p-p-2">
                                                    <aps-form-input inputType="normal" id="margin-{{ i }}"
                                                        name="margin-{{ i }}" [(ngModel)]="formData.margin"
                                                        (focusout)="calculateExchangeRate()"
                                                        [label]="'Margin' | apsTranslate">
                                                    </aps-form-input>
                                                </td>
                                                <td class="p-p-2">
                                                    <aps-form-input inputType="normal" id="exchangeRate-{{ i }}"
                                                        name="exchangeRate-{{ i }}" [(ngModel)]="formData.exchangeRate"
                                                        [label]="'Exchange Rate' | apsTranslate">
                                                    </aps-form-input>
                                                </td>
                                                <td class="p-p-2">
                                                    <div>
                                                        <span class="p-mr-2 pointer" (click)="addNewSlab()"><app-icon
                                                                class="pi pi-plus-circle"></app-icon></span>
                                                        <span class="pointer" (click)="removeSlab(slab)"><app-icon
                                                                class="pi pi-trash"></app-icon></span>
                                                    </div>
                                                </td>
                                            </tr>


                                        </ng-container>

                                    </thead>
                                </table>
                            </div>


                            <div class="p-col-12 p-md-12 p-lg-12  p-px-3">
                                <button class="btn btn-md btn-secondary btn-sm" (click)="addCurrencyPair()">Add New
                                    Currency
                                    Pair</button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </form>
    </div>

    <div class="aps-h-600 p-pt-2 " *ngIf="stepperDetails.currentStep == stepperDetails.headings.length">
        <div class="aps-card p-mb-3">
            <div class="aps-card-header p-px-2 p-py-1">
                <div class="text-size-16 text-semi-bold p-p-2">Margin Details</div>
            </div>
            <div class="aps-card-body">
                <div class="p-grid">

                    <div class="p-px-3 p-col-12 p-md-3 p-lg-3 ">
                        <div class="text-size-12 text-color-light-shade-1">
                            {{ 'Corporate Code' | apsTranslate }}
                        </div>
                        <div class="text-size-14">{{ formData.corporateCode }}</div>
                    </div>

                    <div class="p-px-3 p-col-12 p-md-3 p-lg-3">
                        <div class="text-size-12 text-color-light-shade-1">
                            {{ 'Corporate Name' | apsTranslate }}
                        </div>
                        <div class="text-size-14">{{ formData.corporateName }}</div>
                    </div>

                    <div class="p-px-3 p-col-12 p-md-3 p-lg-3">
                        <div class="text-size-12 text-color-light-shade-1">
                            {{ 'Effective From' | apsTranslate }}
                        </div>
                        <div class="text-size-14">{{ formData.effectiveFrom }}</div>
                    </div>

                    <div class="p-px-3 p-col-12 p-md-3 p-lg-3">
                        <div class="text-size-12 text-color-light-shade-1">
                            {{ 'Effective Till' | apsTranslate }}
                        </div>
                        <div class="text-size-14">{{ formData.effectiveTill }}</div>
                    </div>
                </div>


            </div>
        </div>

        <div class="aps-card p-mb-3">
            <div class="aps-card-header p-px-2 p-py-1">
                <div class="text-size-16 text-semi-bold p-p-2">Margin Slab Detail</div>
            </div>
            <div class="aps-card-body">
                <div class="p-grid">

                    <div class="p-px-3 p-col-12 p-md-3 p-lg-3 ">
                        <div class="text-size-12 text-color-light-shade-1">
                            {{ 'Currency 1' | apsTranslate }}
                        </div>
                        <div class="text-size-14">{{ formData.currency1 }}</div>
                    </div>

                    <div class="p-px-3 p-col-12 p-md-3 p-lg-3">
                        <div class="text-size-12 text-color-light-shade-1">
                            {{ 'Currency 2' | apsTranslate }}
                        </div>
                        <div class="text-size-14">{{ formData.currency2 }}</div>
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col-12 p-md-12 p-lg-12  p-px-3">
                        <div class="text-size-14 text-bold">
                            Currency Pair
                        </div>
                    </div>

                    <div class="table-container  p-col-12">
                        <table class=" p-col-12 p-md-12 p-lg-12 p-px-3">
                            <thead>
                                <tr class="text-size-12 background-color-dark-5 text-color-dark-shade-1">
                                    <th class="p-p-2 text-left">Start Slab</th>
                                    <th class="p-p-2 text-left">End Slab</th>
                                    <th class="p-p-2 text-left">Rate Type Code</th>
                                    <th class="p-p-2 text-left">Rate</th>
                                    <th class="p-p-2 text-left">Margin</th>
                                    <th class="p-p-2 text-left">Exchange Rate</th>
                                </tr>

                                <ng-container *ngFor="let slab of formData.slab; let i = index">
                                    <tr class="text-size-12 text-color-normal border-bottom">

                                        <td class="p-p-2 text-size-14">
                                            {{ slab.startSlab }}
                                        </td>
                                        <td class="p-p-2">
                                            {{ slab.endSlab }}

                                        </td>
                                        <td class="p-p-2">
                                            {{ slab.rateTypeCode }}

                                        </td>
                                        <td class="p-p-2">
                                            {{ formData.rate }}

                                        </td>
                                        <td class="p-p-2">
                                            {{ formData.margin }}

                                        </td>
                                        <td class="p-p-2">
                                            {{ formData.exchangeRate}}

                                        </td>

                                    </tr>


                                </ng-container>

                            </thead>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <app-stepper-footer [parentRef]="this"></app-stepper-footer>

</div>