<div class="user-mails-container background-color-light-4 aps-h-100p">
  <div class="mails-header">
    <div class="header-text">
      <!-- <i class="pi pi-link"></i> -->
      <app-icon icon="fa-link"></app-icon>
      &nbsp; Quick Links
    </div>
    <div class="header-actions">
      <!-- <div class="action">
        <i class="pi pi-plus-circle"></i>
      </div> -->
      <div class="action" (click)="closeSidebar()">
        <!-- <i class="pi pi-times"></i> -->
        <app-icon icon="fa-times"></app-icon>
      </div>
    </div>
  </div>

  <div class="quick-links">
    <div class="quick-link-wrapper">
      <div class="main-link">Payments</div>

      <div class="links">
        <div class="link">Own Account Transfer</div>
        <div class="link">Review Listing Page</div>
        <div class="link">Rejected Listing Page</div>
        <div class="link">Pending Authorization Listing Page</div>
      </div>
    </div>
  </div>
</div>
