<div class="download-options-wrapper aps-shadow-1">
  <div class="label-with-icon-container">
    <div class="icon">
      <!-- <i class="pi pi-file-pdf"></i> -->
      <app-icon icon="fa-file-pdf" class="app-icon"></app-icon>
    </div>
    <div class="label">PDF</div>
  </div>
  <div class="label-with-icon-container">
    <div class="icon">
      <!-- <i class="pi pi-file-excel"></i> -->
      <app-icon icon="fa-file-excel" class="app-icon"></app-icon>
    </div>
    <div class="label">Excel</div>
  </div>
</div>
