<div class="user-tasks-container background-color-light-4 aps-h-100p">
  <div class="tasks-header">
    <div class="header-text">
      <!-- <i class="pi pi-align-center"></i> -->
      <app-icon icon="fa-align-center"></app-icon>
      &nbsp; My Tasks
    </div>
    <div class="header-actions">
      <div class="action">
        <!-- <i class="pi pi-plus-circle"></i> -->
        <app-icon icon="fa-plus-circle"></app-icon>
      </div>
      <div class="action" (click)="closeSidebar()">
        <!-- <i class="pi pi-times"></i> -->
        <app-icon icon="fa-times"></app-icon>
      </div>
    </div>
  </div>
  <div class="tasks">
    <div class="task-wrapper">
      <div class="task">You have to payable due to 19th may for 20,000 USD</div>
      <div class="task-date">Due by 30 Days</div>
    </div>
    <div class="task-wrapper">
      <div class="task">You have to payable due to 19th may for 20,000 USD</div>
      <div class="task-date">Due by 30 Days</div>
    </div>
    <div class="task-wrapper">
      <div class="task">You have to payable due to 19th may for 20,000 USD</div>
      <div class="task-date">Due by 30 Days</div>
    </div>
    <div class="task-wrapper">
      <div class="task">You have to payable due to 19th may for 20,000 USD</div>
      <div class="task-date">Due by 30 Days</div>
    </div>
  </div>
</div>
