<div class="help-options-wrapper p-shadow-2 p-p-2 background-color-light-4 border-radius-10">
  <div class="option pointer p-p-1 border-radius-6 text-color-dark-shade-1">
    <div class="text-size-14">{{ "FAQ's" | apsTranslate }}</div>
  </div>
  <div class="option pointer p-p-1 border-radius-6 text-color-dark-shade-1">
    <div class="text-size-14">{{ 'Demo-videos' | apsTranslate }}</div>
  </div>

  <div class="divider-h border-top p-my-1 aps-w-100p"></div>

  <div class="option pointer p-p-1 border-radius-6 text-color-dark-shade-1">
    <div class="text-size-14">{{ 'Send Feedback to us' | apsTranslate }}</div>
  </div>
</div>
