.login-panel-container {
  position: relative;
  display: inline-block;
  width: 39.53%;
  padding: 50px 16px 0px 67px;

  .login-form {
    padding: 15%;
    height: 567px;
    background-color: var(--background-color-light-4);
    box-shadow: 0 0 10px var(--background-color-dark-1);
  }

  .step-container {
    position: absolute;
    top: 50%;
    left: auto;
    right: 0;
    transform: translateY(-50%);
    width: 2rem;
    height: 132px;
    background-color: var(--background-color-light-4);
    box-shadow: 0 0 10px var(--background-color-dark-2);
    border-radius: 20px;

    .step-circle {
      width: 23px;
      height: 23px;
      border-radius: 50%;
      border: 1px solid var(--background-color-dark-1);
      color: var(--background-color-light-4);
      background-color: var(--background-color-light-4);
    }

    .active {
      background-color: var(--background-color-dark-2) !important;

      .check {
        color: var(--inverted-text-color);
      }
    }

    .complete {
      background-color: var(--color-success) !important;
    }

    .step-line {
      height: 3.5rem;
      width: 0px;
      border-left: 2px dotted var(--background-color-dark-1);
    }
  }
}

@media screen and (max-width: 991px) {
  .login-panel-container {
    width: 100%;
    padding: 1rem 1rem 0.5rem 1rem !important;

    .login-form {
      padding: 2rem;
      height: auto;
    }
  }
}
